{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "printWidth": 110
}
