@media (max-width: 940px) {

  :root {
    --padding-table: 0 10px;
  }

  .crm-block {
    width: 100%;
    overflow-y: hidden;
  }

  .crm-table {
    width: 100%;
    min-width: 728px;
  }
}

@media (max-width: 766px) {

  .crm-crm {
    min-width: 320px;
  }

  .crm-input-crm {
    width: 100%;
  }
}

@media (max-width: 577px) {

  .crm-container-crm {
    padding: 7px 10px;
  }

  .crm-header__container-crm {
    justify-content: center;
    margin-bottom: 19px;
  }

  .crm-main__title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .crm-window__wrap {
    padding: 24px 15px;
    max-width: 300px;
  }

  .crm-removal__btn-close {
    top: 3px;
    right: 3px;
  }

  .crm-removal__wrap {
    padding: 22px 12px;
  }

  .crm-modal__close {
    top: 3px;
    right: 3px;
  }

  .crm-modal__contacts {
    margin: 0 -15px;
    padding: 24px 15px;
  }

  .crm-modal__wrap--contacts {
    margin: 0 -15px;
  }

  .crm-contacts__type {
    min-width: 110px;
  }
}

@media(max-width: 480px) {

  .crm-input {
    padding: 8px 10px;
  }
}
