.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 3vw, 35px);
}

.btn__main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: clamp(30px, 6vw, 40px);
}

.btn__main svg {
  height: 36px;
  width: 36px;
}

@media (max-width: 640px) {
  .btn__main svg {
    height: 28px;
    width: auto;
  }
}
