@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2"),
    url("../fonts/MullerBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-light"),
    url("../fonts/MullerLight.woff2"),
    url("../fonts/MullerLight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2"),
    url("../fonts/MullerMedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2"),
    url("../fonts/MullerRegular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.lagoona {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
  color: #000;
}

img {
  max-width: 100%;
}

.lagoona-link {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  line-height: 100%;
  text-decoration: none;
}

.lagoona-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.lagoona-btn {
  padding: 13px 20px;
  border: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.lagoona-btn:focus-visible {
  outline: var(--border-color);
  background-color: var(--border-color);
  color: var(--white-color);
}

.lagoona-btn:hover {
  outline: var(--border-color);
  background-color: var(--border-color);
  color: var(--white-color);
}

.lagoona-btn:active {
  outline: var(--dark-outline);
  background-color: var(--dark-outline);
  color: var(--white-color);
}

.lagoona-flex {
  display: flex;
}

.lagoona-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.lagoona-container-block {
  margin-bottom: 70px;
}

:root {
  --text-color: #C93;
  --border-color: #C93;
  --line-color: #e9e9e9;
  --icon-color: #999;
  --dark-outline: #A47312;
  --light-outline: #F0BF5F;
  --gray-color: #666;
  --color-space: #ffffffcc;
  --white-color: #fff;
  --color-img: #630e0e;
  --footer-color: #333;
}

/* header */
.lagoona-header__container {
  align-items: baseline;
  padding: 30px 15px;
  font-size: 0;
}

.lagoona-header__logo {
  justify-content: flex-start;
  background-size: 100%;
  outline: none;
}

.lagoona-header__contacts {
  margin: auto auto auto 40px;
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-color);
  transition: color 0.3s ease-in-out;
}

.lagoona-header__contacts:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
  color: var(--text-color);
}

.lagoona-header__contacts:hover {
  color: var(--text-color);
}

.lagoona-header__contacts:active {
  outline: none;
  color: var(--dark-outline);
}

.lagoona-header__svg {
  margin-right: 5px;
}

.lagoona-header__link {
  justify-content: flex-end;
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-color);
  text-align: center;
  fill: var(--text-color);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.lagoona-header__link:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
}

.lagoona-header__link:hover {
  color: var(--light-outline);
  fill: var(--light-outline);
}

.lagoona-header__link:active {
  outline: none;
  color: var(--dark-outline);
  fill: var(--dark-outline);
}

.lagoona-header__container--color {
  margin: auto;
  padding: 0 15px;
  min-height: 70px;
  background-color: var(--white-color);
  background-size: contain;
  border-radius: 15px;
}

.lagoona-header__nav {
  padding-left: 45px;
  margin-right: auto;
}

.lagoona-nav__list {
  flex-wrap: wrap;
}

.lagoona-nav__item {
  margin-top: 27px;
  margin-bottom: 27px;
}

.lagoona-nav__item:not(:last-child) {
  margin-right: 45px;
}

.lagoona-header__link--nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--gray-color);
  transition: color 0.3s ease-in-out;
}

.lagoona-header__link--nav:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
  color: var(--text-color);
}

.lagoona-header__link--nav:hover {
  color: var(--text-color);
}

.lagoona-header__link--nav:active {
  outline: none;
  color: var(--dark-outline);
}

.lagoona-header__btn {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  margin-right: 40px;
}

.lagoona-header__btn:last-child {
  margin-right: 45px;
}

/* main */
.lagoona-section-title {
  margin: 0 auto 20px 40px;
  font-weight: 400;
  font-size: 40px;
}

/* offer */
.lagoona-flex-rider {
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.lagoona-offer__list {
  padding: 0;
}

.lagoona-offer__wrap {
  margin-right: 24px;
  margin-bottom: 24px;
}

.lagoona-offer__wrap--big {
  margin-right: 0;
  height: 100%;
}

.lagoona-offer__wrap:last-child {
  margin-bottom: 0;
}

.lagoona-offer__wrap:focus-within {
  border-radius: 15px;
  outline: 1px var(--border-color) solid;
  outline-offset: 8px;
}

.lagoona-offer__wrap:active {
  outline: none;
}

.lagoona-offer__card {
  position: relative;
  padding: 40px 100px 40px 45px;
  min-height: 258px;
  width: 573px;
  color: var(--white-color);
  background-color: var(--color-img);
  background-size: contain;
  overflow: hidden;
  border-radius: 15px;
}

.lagoona-offer__card--big {
  justify-content: flex-end;
  height: 100%;
  min-width: 573px;
}

.lagoona-offer__img1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/photo-offer-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lagoona-offer__img2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/photo-offer-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lagoona-offer__img3 {
  background-image: url("../img/photo-offer-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lagoona-offer__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.lagoona-offer__price {
  margin-top: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.lagoona-offer__link {
  display: flex;
  align-items: flex-end;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-outline);
  transition: color 0.3s ease-in-out, stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.lagoona-offer__arow {
  margin-left: 6px;
  stroke: var(--light-outline);
  fill: transparent;
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.lagoona-offer__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lagoona-offer__link:hover .lagoona-lagoona-offer__arow {
  transform: translateX(11px);
}

.lagoona-offer__link:active {
  color: var(--white-color);
}

.lagoona-offer__link:active .lagoona-lagoona-offer__arow {
  transform: translateX(0);
  stroke: var(--white-color);
}

.lagoona-offer__title--big {
  margin: 0;
  margin-bottom: 15px;
  line-height: 100%;
  font-weight: 700;
  font-size: 60px;
}

.lagoona-offer__price--big {
  margin-top: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
}

/* info */
.lagoona-info-descr {
  margin: 0;
  min-height: 190px;
  width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* srvice */
.lagoona-service-list {
  margin: 0;
  flex-flow: row wrap;
}

.lagoona-service-bloc {
  flex-flow: column wrap;
  position: relative;
  padding: 165px 125px 35px 45px;
  min-height: 330px;
  width: 573px;
  background-color: var(--white-color);
  overflow: hidden;
  border-radius: 15px;
}

.lagoona-service-wrap {
  margin-right: 24px;
  margin-bottom: 24px;
}

.lagoona-service-wrap:focus-within {
  border-radius: 15px;
  outline: 1px var(--border-color) solid;
  outline-offset: 8px;
}

.lagoona-service-wrap:active {
  outline: none;
}

.lagoona-service-wrap:not(:nth-last-child(2n)) {
  margin-right: 0;
}

.lagoona-service-wrap:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.lagoona-service-img-1 {
  background-image: url("../img/service-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.lagoona-service-img-2 {
  background-image: url("../img/service-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.lagoona-service-img-3 {
  background-image: url("../img/service-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.lagoona-service-img-4 {
  background-image: url("../img/service-4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.lagoona-service-link-list {
  display: flex;
  align-items: center;
  margin-top: 26px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--text-color);
  transition: color 0.3s;
}

.lagoona-service-arow {
  margin-left: 6px;
  stroke: var(--text-color);
  fill: transparent;
  transition: transform 0.3s ease-in-out;
}

.lagoona-service-link-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lagoona-service-link-list:hover {
  color: var(--light-outline);
}

.lagoona-service-link-list:hover .lagoona-lagoona-service-arow {
  transform: translateX(11px);
  stroke: var(--light-outline);
}

.lagoona-service-link-list:active {
  color: var(--dark-outline);
}

.lagoona-service-link-list:active .lagoona-lagoona-service-arow {
  transform: translateX(0);
  stroke: var(--dark-outline);
}

.lagoona-service-descr-list {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* benefit */
.lagoona-benefit-list {
  flex-flow: row wrap;
}

.lagoona-benefit-bloc {
  display: flex;
  padding: 116px 42px 32px 45px;
  margin-right: 22px;
  margin-bottom: 22px;
  min-height: 276px;
  width: 276px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.lagoona-benefit-bloc:nth-child(4n) {
  margin-right: 0;
}

.lagoona-benefit-bloc:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.lagoona-benefit-img-1 {
  background-image: url("../img/illustration-1.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-2 {
  background-image: url("../img/illustration-2.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-3 {
  background-image: url("../img/illustration-3.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-4 {
  background-image: url("../img/illustration-4.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-5 {
  background-image: url("../img/illustration-5.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-6 {
  background-image: url("../img/illustration-6.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-7 {
  background-image: url("../img/illustration-7.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-img-8 {
  background-image: url("../img/illustration-8.svg");
  background-size: 66px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.lagoona-benefit-descr-list {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* space */
.lagoona-space {
  margin-bottom: 35px;
}

.lagoona-space-list {
  flex-flow: row wrap;
}

.lagoona-space-wrap {
  margin-right: 24px;
  margin-bottom: 24px;
}

.lagoona-space-wrap:focus-within {
  border-radius: 15px;
  outline: 1px var(--border-color) solid;
  outline-offset: 8px;
}

.lagoona-space-wrap:active {
  outline: none;
}

.lagoona-space-wrap:nth-child(3n) {
  margin-right: 0;
}

.lagoona-space-wrap:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.lagoona-space-bloc {
  min-height: 440px;
  width: 374px;
  background-color: var(--white-color);
  overflow: hidden;
  border-radius: 15px;
}

.lagoona-space-bloc-link {
  position: relative;
  min-height: 440px;
  width: 374px;
  background-image: url("../img/photo-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-outline);
  overflow: hidden;
  border-radius: 15px;
}

.lagoona-space-bloc-main {
  padding: 0 45px 45px 45px;
}

.lagoona-space-bloc-card {
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 32px;
}

.lagoona-space-price-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.lagoona-space-transparent {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--icon-color);
}

.lagoona-space-bold {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.lagoona-space-normal {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.lagoona-space-container-star {
  margin-left: 55px;
}

.lagoona-space-descr-en {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
}

.lagoona-space-descr-ru {
  margin-top: 16px;
}

.lagoona-space-btn {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.lagoona-space-link-list {
  align-items: center;
  align-content: baseline;
  margin: 0;
  margin: auto 50px 27px;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
  transition: color 0.3s ease-in-out;
}

.lagoona-space-arrow {
  margin-left: 6px;
  stroke: var(--white-color);
  transition: transform 0.3s ease-in-out;
}

.lagoona-space-link-list::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lagoona-space-link-list:focus-visible {
  color: var(--text-color);
}

.lagoona-space-link-list:focus-visible .lagoona-space-arrow {
  transform: translateX(0);
  stroke: var(--text-color);
}

.lagoona-space-link-list:hover .lagoona-space-arrow {
  transform: translateX(11px);
}

.lagoona-space-link-list:active {
  color: var(--dark-outline);
}

.lagoona-space-link-list:active .lagoona-space-arrow {
  transform: translateX(0);
  stroke: var(--dark-outline);
}

/* trip */
.lagoona-trip {
  margin-bottom: 105px;
}

.lagoona-trip-block {
  padding: 45px 45px 45px 40px;
  background-color: var(--line-color);
  border-radius: 15px;
}

.lagoona-trip-title {
  margin: 0;
  margin-bottom: 20px;
}

.lagoona-trip-form {
  padding: 32px 28px;
  margin-left: 5px;
  min-height: 106px;
  width: 1080px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.lagoona-trip-label {
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  font-weight: 400;
  font-size: 12px;
}

.lagoona-trip-label:not(:last-child) {
  margin-right: 40px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 10px;
  padding: 10px;
}

.lagoona-trip-select {
  margin: 0;
  margin-top: 15px;
  min-height: 16px;
  width: 170px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
}

.lagoona-trip-input {
  color: #000;
  margin: 0;
  margin-top: 15px;
  min-height: 16px;
  width: 120px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--line-color);
  background-color: inherit;
}

.lagoona-input-date {
  color: #000;
  border: none;
  outline: none;
}

.lagoona-trip-select:focus-visible {
  border-radius: 10px;
  outline: 1px var(--border-color) solid;
  outline-offset: 0;
  color: #000;
}

.lagoona-trip-input:focus-visible {
  color: #000;
  border-radius: 2%;
  outline: 1px var(--border-color) solid;
  outline-offset: 9px;
}

.lagoona-trip-btn {
  padding: 13px 30px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

/* contacts */
.lagoona-contacts {
  margin-bottom: 40px;
}

.lagoona-contacts__main {
  position: relative;
  min-height: 618px;
  min-width: 1170px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.lagoona-contacts__list {
  flex-direction: column;
  margin: 45px auto 45px 45px;
  min-height: 528px;
  width: 375px;
}

.lagoona-contacts__bloc {
  flex-direction: row;
  padding-bottom: 25px;
  margin-bottom: 25px;
  width: 375px;
  border-bottom: 1px solid var(--line-color);
}

.lagoona-contacts__bloc:last-child {
  padding: 0;
  margin-top: auto;
  margin-bottom: 0;
  border-bottom: none;
}

.lagoona-contacts__title {
  margin: 0;
  width: 145px;
  font-weight: 700;
  font-size: 20px;
}

.lagoona-contacts__text {
  margin: 0;
  width: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.lagoona-contacts__part-bloc {
  flex-flow: column wrap;
  align-items: flex-start;
  width: 230px;
}

.lagoona-contacts__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  transition: color 0.3s;
}

.lagoona-contacts__link:not(:last-child) {
  margin-bottom: 5px;
}

.lagoona-contacts__link:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
}

.lagoona-contacts__link:hover {
  outline: none;
  color: var(--light-outline);
}

.lagoona-contacts__link:active {
  color: var(--dark-outline);
}

.lagoona-contacts__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--icon-color);
}

.lagoona-contacts__btn {
  padding: 27px 29px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.lagoona-contacts-photo-list {
  position: absolute;
  top: 45px;
  right: 45px;
  overflow: hidden;
  border-radius: 10px;
}

/* foot */
.lagoona-footer {
  font-family: 'Muller', sans-serif;
  position: relative;
  padding: 45px;
  min-height: 341px;
  width: 1170px;
  background-color: var(--footer-color);
  border-radius: 15px;
  overflow: hidden;
}

.lagoona-footer__logo {
  position: absolute;
  top: 112px;
  left: 695px;
  width: 255px;
  height: 255px;
}

.lagoona-footer__info {
  flex-flow: column wrap;
  align-items: flex-start;
  min-width: 300px;
  margin-right: 125px;
}

.lagoona-footer__text {
  margin-bottom: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.lagoona-footer__text--download {
  line-height: 150%;
  color: var(--text-color);
  transition: color 0.3s;
}

.lagoona-footer__text--download:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
}

.lagoona-footer__text--download:hover {
  outline: none;
  color: var(--light-outline);
}

.lagoona-footer__text--download:active {
  color: var(--dark-outline);
}

.lagoona-footer__link {
  flex-flow: column wrap;
  margin-right: 260px;
  min-width: 370px;
}

.lagoona-footer__list {
  flex-flow: column wrap;
  align-items: flex-start;
}

.lagoona-footer__bloc:not(:last-child) {
  margin-bottom: 15px;
}

.lagoona-footer__address {
  min-width: 360px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-color);
}

.lagoona-footer__contacts {
  display: flex;
  flex-flow: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  transition: color 0.3s;
}

.lagoona-footer__contacts:not(:last-child) {
  margin-bottom: 5px;
}

.lagoona-footer__contacts:focus-visible {
  outline: 1px var(--border-color) solid;
  outline-offset: 5px;
}

.lagoona-footer__contacts:hover {
  outline: none;
  color: var(--light-outline);
}

.lagoona-footer__contacts:active {
  color: var(--dark-outline);
}

.lagoona-footer__icon {
  flex-flow: column wrap;
  width: 25px;
}

.lagoona-footer__icon-bloc:not(:last-child) {
  margin-bottom: 20px;
}

.lagoona-footer__img {
  fill: var(--icon-color);
  transition: fill 0.3s;
}

.lagoona-footer__img:focus-visible {
  outline: none;
  fill: var(--text-color);
}

.lagoona-footer__img:hover {
  fill: var(--text-color)
}

.lagoona-footer__img:active {
  fill: var(--dark-outline);
}
