.cards {
  gap: 20px;
  width: 100%;
}

.cards__wrap {
  width: clamp(420px, 30vw, 546px);
  height: max-content;
}

@media (max-width: 1355px) {
  .cards {
    justify-content: center;
  }

  .cards__wrap {
    width: clamp(420px, 46vw, 620px);
  }
}

@media (max-width: 920px) {
  .cards__wrap {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .cards__wrap {
    width: 100%;
  }
}
