* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 425px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1;
  font-weight: 300;

  color-scheme: light dark;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(51, 0, 0, 1) 0%,
    rgba(181, 102, 33, 1) 77%,
    rgba(66, 0, 0, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
  min-height: -webkit-fill-available;
  scroll-behavior: smooth;
  overflow: hidden auto;
}

#root > div > div {
  min-height: 100vh;
}

#root::selection {
  background-color: #531dab;
}

/* media */
@media (max-width: 768px) {
  #root > div {
    margin-bottom: 46px;
  }
}

/* animation */
@keyframes main-loading {
  0% {
    fill: #6f232e;
  }

  50% {
    fill: #c02a2a;
  }

  100% {
    fill: #6f232e;
  }
}

@keyframes main-loading-descr {
  0% {
    color: #6f232e;
  }

  50% {
    color: #c02a2a;
  }

  100% {
    color: #6f232e;
  }
}
